A:Active  {
;
color: #99FF00
}

A:Hover  {color: #F5B049}
a {  text-decoration: none; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: 600; color: #F29200}
.topo {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; line-height: 9px}
.back-cinza {  background-color: #555555; color: #4E4E4E}
.lat-index {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #FFAE00; text-indent: 5px}
.back-links {  background-color: #2F304F}
ul {  list-style-type: none; margin-top: 0px; margin-right: 0px; margin-bottom: 5px; margin-left: 24px; padding-top: 0px; line-height: 14px; padding-bottom: 0px}
li {  text-indent: 0pt; list-style-type: decimal; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-bottom: 2px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; line-height: 17px}
.branco {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #CCCCCC}
h3 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11pt; text-transform: uppercase; font-weight: normal}
h2 {  font-family: Verdana, Arial, Helvetica, sans-serif; color: #770000; font-size: 14pt; font-weight: lighter; line-height: 20pt; margin-top: 000px; margin-right: 0px; margin-bottom: 00px; margin-left: 0px; padding-top: 0px; padding-right: 00px; padding-bottom: 0px; padding-left: 0px}
.pontos-link {  color: #ccff00}
.titulo {  font-size: 27px; color: #6c6c6c; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold}
.sdk {  color: #896701}
.link-2 {  color: #FFFFCC; font-weight: 500}
.code {  border-color: #FFAE00 #Ffae00 #Ffae00; background-color: #FFFBF2; font-family: "Courier New", Courier, mono; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
p {  font-family: "Times New Roman", Times, serif; font-size: 11pt; color: #000000; line-height: 14pt}
.bold {  font-weight: bold}
.back-celula {  background-color: #FFFBF2}
.back-tabela {  background-color: #FFDE9B}
th {  background-color: #FFAE00}
.titulo-tutor { font-size: 22px; color: #333333; font-family: Arial, Helvetica, sans-serif; font-weight: bold}
h1 { font-family: Verdana, Arial, Helvetica, sans-serif; color: #770000; font-size: 16pt; line-height: 20pt; margin-top: 000px; margin-right: 0px; margin-bottom: 00px; margin-left: 0px; padding-top: 0px; padding-right: 00px; padding-bottom: 0px; padding-left: 0px ; font-weight: lighter}
